In [3]:
import numpy as np
import pandas as pd
import anndata as ad
from scipy.sparse import csr_matrix
print(ad.__version__)

0.10.8

In [5]:
counts = csr_matrix(np.random.poisson(1, size=(100, 2000)), dtype=np.float32)
adata = ad.AnnData(counts)
adata

AnnData object with n_obs × n_vars = 100 × 2000

In [7]:
adata.X

<100x2000 sparse matrix of type '<class 'numpy.float32'>'
	with 126570 stored elements in Compressed Sparse Row format>

In [11]:
adata.obs_names = [f"Cell_{i:d}" for i in range(adata.n_obs)]
adata.var_names = [f"Gene_{i:d}" for i in range(adata.n_vars)]
print(adata.var_names[:10])

Index(['Gene_0', 'Gene_1', 'Gene_2', 'Gene_3', 'Gene_4', 'Gene_5', 'Gene_6',
       'Gene_7', 'Gene_8', 'Gene_9'],
      dtype='object')

In [13]:
adata[["Cell_1", "Cell_10"], ["Gene_5", "Gene_1900"]]

View of AnnData object with n_obs × n_vars = 2 × 2

In [15]:
ct = np.random.choice(["B", "T", "Monocyte"], size=(adata.n_obs,))
adata.obs["cell_type"] = pd.Categorical(ct)  # Categoricals are preferred for efficiency
adata.obs

        cell_type
Cell_0          T
Cell_1   Monocyte
Cell_2          B
Cell_3          B
Cell_4   Monocyte
...           ...
Cell_95         B
Cell_96         B
Cell_97         T
Cell_98         T
Cell_99         B

[100 rows x 1 columns]

In [17]:
adata.X

<100x2000 sparse matrix of type '<class 'numpy.float32'>'
	with 126570 stored elements in Compressed Sparse Row format>

In [19]:
bdata = adata[adata.obs.cell_type == "B"]
bdata

View of AnnData object with n_obs × n_vars = 29 × 2000
    obs: 'cell_type'

In [21]:
adata.obsm["X_umap"] = np.random.normal(0, 1, size=(adata.n_obs, 2))
adata.varm["gene_stuff"] = np.random.normal(0, 1, size=(adata.n_vars, 5))
adata.obsm

AxisArrays with keys: X_umap

In [23]:
adata

AnnData object with n_obs × n_vars = 100 × 2000
    obs: 'cell_type'
    obsm: 'X_umap'
    varm: 'gene_stuff'

In [25]:
adata.uns["random"] = [1, 2, 3]
adata.uns

OrderedDict([('random', [1, 2, 3])])

In [27]:
adata.layers["log_transformed"] = np.log1p(adata.X)
adata

AnnData object with n_obs × n_vars = 100 × 2000
    obs: 'cell_type'
    uns: 'random'
    obsm: 'X_umap'
    varm: 'gene_stuff'
    layers: 'log_transformed'

In [29]:
#conversion to dataframes
adata.to_df(layer="log_transformed")

,Gene_0,Gene_1,Gene_2,Gene_3,Gene_4,Gene_5,Gene_6,Gene_7,Gene_8,Gene_9,...,Gene_1990,Gene_1991,Gene_1992,Gene_1993,Gene_1994,Gene_1995,Gene_1996,Gene_1997,Gene_1998,Gene_1999
Cell_0,0.693147,1.098612,0.000000,1.098612,1.098612,0.693147,0.693147,0.693147,1.098612,0.693147,...,1.098612,0.000000,0.693147,0.693147,0.000000,0.693147,0.693147,0.693147,1.098612,1.098612
Cell_1,1.098612,1.386294,0.693147,0.693147,0.693147,1.386294,0.000000,0.000000,0.693147,1.098612,...,0.693147,0.693147,0.000000,1.386294,0.693147,1.098612,0.693147,0.693147,1.098612,1.098612
Cell_2,0.693147,0.000000,0.693147,0.000000,0.693147,0.000000,1.098612,1.609438,0.000000,0.693147,...,1.098612,0.693147,0.693147,0.000000,1.098612,0.000000,1.609438,0.693147,0.693147,1.386294
Cell_3,0.000000,0.693147,0.000000,0.693147,0.000000,1.098612,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.693147,0.693147,0.000000,0.000000,1.098612,1.098612,0.693147,1.098612,0.693147
Cell_4,0.000000,1.098612,0.693147,0.693147,0.693147,1.098612,0.693147,0.693147,1.098612,0.693147,...,0.693147,0.693147,1.098612,0.693147,0.693147,0.693147,0.000000,0.693147,0.000000,1.098612
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Cell_95,0.693147,0.000000,0.000000,0.693147,0.693147,0.000000,0.000000,0.000000,1.386294,1.098612,...,1.098612,0.693147,1.098612,0.000000,0.000000,0.693147,0.693147,0.000000,1.098612,0.693147
Cell_96,0.693147,0.000000,1.098612,0.000000,0.693147,0.693147,0.000000,0.693147,0.693147,0.693147,...,0.693147,1.098612,1.386294,0.000000,0.000000,0.000000,0.693147,0.000000,0.000000,1.098612
Cell_97,0.693147,0.000000,0.693147,0.000000,0.693147,0.000000,0.000000,0.000000,1.098612,0.693147,...,0.000000,0.693147,0.693147,0.693147,1.098612,0.000000,0.693147,0.693147,0.693147,0.000000
Cell_98,0.693147,0.693147,0.693147,0.693147,1.098612,0.693147,0.000000,1.098612,0.000000,0.000000,...,0.000000,0.693147,0.693147,0.693147,1.098612,0.000000,0.000000,0.693147,0.693147,0.693147
Cell_99,1.098612,0.693147,0.693147,0.693147,0.693147,0.693147,1.098612,0.693147,0.000000,0.693147,...,0.000000,0.693147,0.693147,1.098612,0.000000,0.693147,0.693147,0.000000,0.000000,0.693147